
/* Global variables used for the main template. */
:root {
  --background-color: #4ABDAC;
  --highlight-color-gold: #FCCA63;
  --highlight-color-red: #FC4A1A;
  --primary-text-color: #DFDCE3;
  --secondary-text-color: #888888;
}

/* Browser reset with all parent elements taking the whole page size. */
html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
